In [230]:
# importing dataset
import pandas as pd 
from sklearn import tree
from sklearn.model_selection import train_test_split
test = pd.read_csv('/Users/masato/Documents/GitHub/Kaggle_titanic/Data/test.csv')
train = pd.read_csv('/Users/masato/Documents/GitHub/Kaggle_titanic/Data/train.csv')

In [231]:
column_data_types = train.dtypes

print(column_data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [232]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [233]:
# train now has the NA in 'Embarked' filled with the mode.
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [234]:
column_data_types = train.dtypes

print(column_data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [235]:
train.shape

(891, 12)

In [236]:
column_data_types = train.dtypes

print(column_data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [264]:
pd.pivot_table(train, index = 'Sex', columns = 'Pclass',
               values = 'Age')

Pclass          1          2          3
Sex
female  34.648936  28.625000  21.947917
male    41.249344  30.780833  26.214467

In [238]:
column_data_types = train.dtypes

print(column_data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [239]:
is_null = train['Age'].isnull()

train.loc[(train['Pclass'] == 1) & (train['Survived'] == 0)
    &(is_null), 'Age'] = float(43.0)
train.loc[(train['Pclass'] == 1) & (train['Survived'] == 1)
    &(is_null), 'Age'] = float(35.0)


train.loc[(train['Pclass'] == 2) & (train['Survived'] == 0)
    &(is_null), 'Age'] = float(33.0)
train.loc[(train['Pclass'] == 2) & (train['Survived'] == 1)
    &(is_null), 'Age'] = float(25.0)

train.loc[(train['Pclass'] == 3) & (train['Survived'] == 0)
    &(is_null), 'Age'] = float(26.0)
train.loc[(train['Pclass'] == 3) & (train['Survived'] == 1)
    &(is_null), 'Age'] = float(20.0)

In [240]:
column_data_types = train.dtypes

print(column_data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [241]:
#Check all the null is gone.
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [242]:
#change the Cabin from seat number to 0,1. 0 == no seat. 1 == yes seat.
train['Cabin'] = train['Cabin'].apply(lambda x: 0 if pd.isnull(x) else 1)

In [243]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [244]:
male = pd.get_dummies(train['Sex'], drop_first = True)
male
pd.get_dummies(train['Sex'])

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [245]:
embarked = pd.get_dummies(train['Embarked'], drop_first = False)
embarked.head(3)

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1

In [246]:
column_data_types = train.dtypes

print(column_data_types)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin            int64
Embarked        object
dtype: object

In [247]:
xcol = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin']
x = train[xcol]

t = train['Survived']

In [248]:
x.head(10)

   Pclass   Age  SibSp  Parch     Fare  Cabin
0       3  22.0      1      0   7.2500      0
1       1  38.0      1      0  71.2833      1
2       3  26.0      0      0   7.9250      0
3       1  35.0      1      0  53.1000      1
4       3  35.0      0      0   8.0500      0
5       3  26.0      0      0   8.4583      0
6       1  54.0      0      0  51.8625      1
7       3   2.0      3      1  21.0750      0
8       3  27.0      0      2  11.1333      0
9       2  14.0      1      0  30.0708      0

In [249]:
column_data_types = x.dtypes

print(column_data_types)

Pclass      int64
Age       float64
SibSp       int64
Parch       int64
Fare      float64
Cabin       int64
dtype: object

In [250]:
x_temp = pd.concat([x,male], axis = 1)

x_temp.shape

(891, 7)

In [251]:
tmp = pd.concat([x_temp,embarked], axis = 1)
tmp.shape

(891, 10)

In [252]:
t.shape

(891,)

In [253]:
x_train, x_test, y_train, y_test = train_test_split(tmp,t, test_size= 0.2, random_state =0)
x_train.shape

(712, 10)

In [254]:
# Handle missing or non-numeric values (e.g., replace them with NaN)
tmp['Age'] = pd.to_numeric(tmp['Age'], errors='coerce')

# Convert to 'int64' after handling missing or non-numeric values
tmp['Age'] = tmp['Age'].astype('int64')

In [255]:
column_data_types = tmp.dtypes

print(column_data_types)

Pclass      int64
Age         int64
SibSp       int64
Parch       int64
Fare      float64
Cabin       int64
male        uint8
C           uint8
Q           uint8
S           uint8
dtype: object

In [256]:
model = tree.DecisionTreeClassifier(max_depth = 5,
                                    random_state = 0,
                                    class_weight = 'balanced')
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=5, random_state=0)

In [262]:
# Assuming 'x_new' and 't' are your input features and target labels, respectively
# Assuming x_temp is a DataFrame and t is a Series

def learn(tmp, t, depth=3):
     x_train, x_test, y_train, y_test = train_test_split(tmp, t, test_size=0.2, random_state=0)
     model = DecisionTreeClassifier(max_depth=depth, random_state=0, class_weight='balanced')
     model.fit(x_train, y_train)

     score = model.score(X=x_train, y=y_train)
     score2 = model.score(X=x_test, y=y_test)
     return round(score, 3), round(score2, 3), model
for j in range(1, 15):
     train_score, test_score, model = learn(tmp, t, depth=j)
     sentence = 'Train data score: {}'
     sentence2 = 'Test data score: {}'
     total_sentence = 'depth {}: ' + sentence + ', ' + sentence2
     print(total_sentence.format(j, train_score, test_score))

depth 1: Train data score: 0.787, Test data score: 0.788
depth 2: Train data score: 0.792, Test data score: 0.782
depth 3: Train data score: 0.847, Test data score: 0.81
depth 4: Train data score: 0.855, Test data score: 0.844
depth 5: Train data score: 0.862, Test data score: 0.855
depth 6: Train data score: 0.875, Test data score: 0.86
depth 7: Train data score: 0.896, Test data score: 0.838
depth 8: Train data score: 0.903, Test data score: 0.872
depth 9: Train data score: 0.913, Test data score: 0.872
depth 10: Train data score: 0.934, Test data score: 0.849
depth 11: Train data score: 0.955, Test data score: 0.832
depth 12: Train data score: 0.969, Test data score: 0.816
depth 13: Train data score: 0.975, Test data score: 0.844
depth 14: Train data score: 0.983, Test data score: 0.821

In [258]:
model.feature_importances_

array([0.12176603, 0.23190218, 0.06812448, 0.00277952, 0.04130768,
       0.00699769, 0.510164  , 0.        , 0.01140967, 0.00554876])

In [260]:
pd.DataFrame(model.feature_importances_, index=tmp.columns)

               0
Pclass  0.121766
Age     0.231902
SibSp   0.068124
Parch   0.002780
Fare    0.041308
Cabin   0.006998
male    0.510164
C       0.000000
Q       0.011410
S       0.005549

In [263]:
train_score, test_score, model = learn(tmp, t, depth = 9)

import pickle
with open('kaggle_survived.pkl', 'wb') as f:
    pickle.dump(model, f)